argcomplete==1.8.2
beautifulsoup4==4.6.0
certifi==2018.10.15
chardet==3.0.4
dill==0.2.8.2
docx2txt==0.6
EbookLib==0.16
fpdf==1.7.2
httpretty==0.9.6
idna==2.7
imbalanced-learn==0.4.2
lxml==4.2.5
numpy==1.15.3
#pdfminer.six <-- go back to this after the shebang fix is released (see https://github.com/goulu/pdfminer/issues/27)
https://github.com/goulu/pdfminer/zipball/e6ad15af79a26c31f4e384d8427b375c93b03533#egg=pdfminer.six
Pillow==5.3.0
psycopg2==2.7.5
python-pptx==0.6.5
pytz==2018.7
requests==2.20.0
scikit-learn==0.19.1
scipy==1.1.0
six==1.10.0
SpeechRecognition==3.7.1
SQLAlchemy==1.2.13
tzlocal==1.5.1
urllib3==1.24
xlrd==1.0.0
XlsxWriter==1.1.2